<ion-list class="trending-card">
    <ion-row>
        <ion-col col-6 col-md-4 *ngFor="let entity of entities; let index = index">
            <ion-card>
                <div>
                    <div class="tending-content" (click)="entityProfile(entity.id)" [style.background-image]="getBackground(entity.img)">
                        <div class="card-title oneLiner">{{entity.title}}</div>
                        <div class="card-subtitle">{{entity.category[0].name}}</div>
                    </div>

                </div>
                <ion-row>
                    <ion-col class="entity-icon border-right">
                        <button color="dark" ion-button clear small (click)="entityProfile(entity.id, 1)"> 
                            <img src="assets/img/loved.png" alt=""> 
                            <span class="gossip-count">
                                {{entity.total_positive_gossips}}
                            </span>
                             </button>
                    </ion-col>
                    <ion-col [class]="showBookmark ? 'entity-icon border-right col' : 'entity-icon col'">
                        <button color="dark" ion-button clear small (click)="entityProfile(entity.id, 2)">  
                            <img src="assets/img/hated.png" alt="">
                                <span class="gossip-count">
                                 {{entity.total_negative_gossips}}
                                </span>
                             </button>
                    </ion-col>
                    <ion-col class="entity-icon" *ngIf="showBookmark">
                        <button ion-button icon-only small color="whitec" (click)="bookmarkEntity(entity.id, index)" item-right [class]="entity.entityFollow ? 'bookmark-btn1 liked' : 'bookmark-btn1'">
                                <ion-icon name="bookmark"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
    <div center text-center class="no-data" *ngIf="!entities?.length">No entity found.</div>
</ion-list>