page-request {
    .p0 {
        padding: 0 !important;
    }
    ion-card {
        margin: 10px 0px 10px 0px !important;
        width: 100% !important;
    }
    ion-card ion-card-content {
        border-bottom: 1px solid #efefef;
    }
    .bookmark-btn {
        float: right !important;
        position: absolute !important;
        top: 2px !important;
        right: 8px !important;
        padding: 0px 0px 0px 7px !important;
        font-size: 17px !important;
        border: 0px !important;
        color: gray !important;
        text-align: center !important;
    }
    .home-listing ion-item {
        padding-left: 8px !important;
    }
    .home-listing .item-inner {
        padding-right: 8px !important;
    }
    .home-listing ion-card-content {
        padding: 8px !important;
    }
    .home-listing ion-grid {
        padding: 0px 0px !important;
    }
    .home-listing ion-label {
        margin: 8px 8px 8px 0 !important;
    }
    .border-top {
        border-top: 1px solid #efefef;
    }
    .seprator {
        padding: 13px 16px 13px 16px;
    }
    ion-content .scroll-content {
        background: #dedcde;
    }
    .trending-card .tending-content {
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        height: 200px;
        background-size: cover;
        margin: 0px !important;
    }
    .card-title {
        position: absolute;
        bottom: 15%;
        width: 100%;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        bottom: 5%;
        width: 100%;
        color: #fff;
        text-align: left;
        padding-left: 8px;
        font-style: italic;
    }
    .entity-icon img {
        height: 17px !important;
        width: 17px;
        display: inline;
        vertical-align: middle;
    }
    .entity-icon button {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 30px;
    }
    .entity-icon {
        text-align: center !important;
    }
    .border-right {
        border-right: 1px solid #dedcde;
    } 
   
    .entity-status {
        bottom: 5px;
        text-transform: uppercase !important;
        font-size: 11px;
        padding: 5px 5px 5px 5px;
        font-weight: 5006;
    }
    .disapproved {
        color: red;
        border: 1px dotted red;
    }
    .pending {
        color: gray;
        border: 1px dotted gray;
    }
    .approved {
        color: green;
        border: 1px dotted green;
    }

    .icon-wrapper img {
        width: 35px !important;
    }
    .text-area {
        width: 100% !important;
        resize: none;
        border-color: #eee;
        font-size: 12px;
    }
    .emo-img img {
            width: 40px;
    vertical-align: middle;
    display: inline-block;
    }
    .emo-img input {
          
    vertical-align: middle;
    display: inline-block;
    } 

.img-preview img{
    width: 100px;
    height: 100px;
}
.img-preview button {
   position: absolute;
    top: 0;
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-left: 16px;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    left: 92px;
}
  .category .category-content {
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        height: 115px;
        background-size: cover;
        margin: 0px !important;
    }
    .category ion-card {
        width: 100% !important;
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .card-title {
        position: absolute;
        bottom: 10%;
        width: 100%;
        font-weight: normal;
        color: #fff;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
    }
    .entity-count {
        padding: 8px 8px;
        font-size: 12px;
    }
    .category [col-md-4] {
        padding: 3px !important;
    }
    .request-list ion-card {
        margin: 10px 8px 10px 8px !important;
        width: calc(100% - 16px) !important;
    }
    .request-list .entity-status {
        position: absolute;
        bottom: 5px;
        right: 8px;
        text-transform: uppercase;
        font-size: 11px;
        padding: 2px 5px 0px 5px;
        font-weight: 5006;
    }
    .request-list .disapproved {
        color: red;
        border: 1px dotted red;
    }
    .request-list .pending {
        color: gray;
        border: 1px dotted gray;
    }
    .request-list .approved {
        color: green;
        border: 1px dotted green;
    }
    .request-list .entity-title {
        font-size: 16px;
    }
    .request-list .entity-cat {
        color: gray;
    }
    .request-list img {
        max-height: 90px;
    }
    .profile-wrapper {
        padding: 10px;
        background-image: url('../assets/img/auth-bg2.jpg');
        background-size: cover;
        background-size: cover;
        background-position: 48% 50%;
    }
    .profile-data h1 {
        margin-top: 0px;
        font-size: 20px;
        margin-bottom: 3px;
    }
    .profile-data h4 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 5px !important;
    }
    .profile-wrapper {
        text-align: center;
        height: 50%;
    }
    .profile-img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    .type-text {
        font-size: 12px !important;
        margin-top: 4px !important;
    }
    .entity .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #dedede !important;
    }
    .item-md.item-block .item-inner:last-child {
        padding-right: 8px;
        border-bottom: 0px !important;
    }
}