<ion-header>
    <ion-navbar color="primary">
        <ion-title>Add Entity</ion-title>
    </ion-navbar>
</ion-header>
<ion-header>
    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment" color="whitec" (ionChange)="reset()">
            <ion-segment-button value="gossip">
                Add Gossip
            </ion-segment-button>
            <ion-segment-button value="entity">
                Add Entity
            </ion-segment-button>

        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>

    <!--<entity-card *ngIf="segment == 'entity'" (dataUpdated)="getMyEntity()" [entities]="myEntity"></entity-card>-->

    <div *ngIf="segment == 'entity'" class="entity">
        <div class="category select-category" *ngIf="!isCategorySelected">
             <ion-card-header color="primary">
                        Select category of entity (1/2)
             </ion-card-header>
            <ion-row>
                <ion-col col-6 col-md-4 *ngFor="let category of categories">
                    <ion-card class="m0" (click)="categorySelect(category)">
                        <div class="category-content" [style.background-image]="getEntityBackground(category.attachment)">
                            <div class="card-title">{{category.name}}</div>
                        </div>
                    </ion-card>
                </ion-col>

            </ion-row>
        </div>
        <div class="" *ngIf="isCategorySelected">
        
            <div class="entity-fields">
                <div class="profile-wrapper">
                    <div class="profile-data">
                        <h1 color="whitec" ion-text>{{entityDetail.entity || 'Name Here'}}</h1>
                        <h4 color="whitec" ion-text class="mt0">{{entityDetail.subtitle || 'Tagline Here'}} ({{selectedCat}})</h4>
                    </div>
                    <img src="{{entityDetail.image || 'assets/img/image.png'}}" (click)="selectImage()" class="profile-img" alt="">
                </div>
            </div>
            <form #entityDetailForm="ngForm" (ngSubmit)="addEntity(entityDetailForm)" action="#" novalidate>
                <ion-card class="card-items ion-card-full">
                    <ion-card-header color="primary">
                        Information about entity (2/2)
                    </ion-card-header>
                    <ion-card-content>
                        <ion-list>
                            <ion-item class="pl8">
                                <ion-label stacked>Name*</ion-label>
                                <ion-input type="text" [(ngModel)]="entityDetail.entity" name="firstname" #firstName="ngModel" required></ion-input>
                            </ion-item>
                            <p [hidden]="firstName.valid || submitted == false" ion-text color="danger" class="validationErr" padding-left>
                                Name is required
                            </p>
                            <ion-item class="pl8">
                                <ion-label stacked>Tagline*</ion-label>
                                <ion-input type="text" [(ngModel)]="entityDetail.subtitle" name="lastname" #lastName="ngModel" required></ion-input>
                            </ion-item>
                            <p [hidden]="lastName.valid || submitted == false" ion-text color="danger" class="validationErr" padding-left>
                                Tagline is required
                            </p>
                            <!--<div class="pl8">
                            <ion-label class="color-gray" stacked>Entity Picture*</ion-label>
                         <input type="file" accept="image/*" (change)="changeListener($event)" name="image" required id="fileInput" class="mt10"> 
                             
                        </div>-->
                            <ion-item class="pl8">
                                <ion-label stacked>Contact Number</ion-label>
                                <ion-input type="number" [(ngModel)]="entityDetail.contact_number" name="contact" #contact="ngModel"></ion-input>
                            </ion-item> 
                            <ion-item class="pl8">
                                <ion-label stacked>Own this entity?</ion-label>
                                <ion-select class="w40" interface="popover" name="owner" #owner="ngModel" [(ngModel)]="entityDetail.owner">
                                    <ion-option value="yes">Yes</ion-option>
                                    <ion-option value="no">No</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item class="pl8">
                                <button class="h35" type="button" (click)="selectImage()" ion-button block outline icon-left>
  <ion-icon name="attach"></ion-icon>
 {{ entityDetail.image ? 'Change' : 'Attach'}}  image
</button>
                            </ion-item>
                        </ion-list>
                        <div class="submit-btn">
                            <br>
                            <button ion-button color="primary" type="submit" block>Submit Request</button>
                        </div>

                    </ion-card-content>
                </ion-card>

            </form>
        </div>
    </div>
    <div class="add-gossip" *ngIf="segment == 'gossip'" class="gossip">
        <form #gossipForm="ngForm" novalidate>
            <ion-card class="card-items ion-card-full">
                <!--<ion-card-header color="primary">
                    Gossip Information
                </ion-card-header>-->
                <ion-card-content>
                    <ion-list>
                        <ion-searchbar (click)="searchEntity()" placeholder="Search Entities"></ion-searchbar>

                        <ion-item *ngIf="selectedEntity.id" style="margin-left: -6px">
                            <ion-avatar item-left>
                                <img [src]="selectedEntity.img">
                            </ion-avatar>
                            <h2>{{selectedEntity.title}}</h2>
                            <p>{{selectedEntity.category[0].name}}</p>
                        </ion-item>

                        <ion-item style="margin-left: -17px">
                            <ion-grid>
                                <ion-row class="emo-img">
                                    <ion-col text-center>
                                        <input type="radio" id="pos" [(ngModel)]="addGossip.feedbackType" name="type" value="0">
                                        <label for="pos"> <img src="assets/img/loved.png"   alt=""> <div class="type-text">Positive Gossip</div></label>
                                    </ion-col>
                                    <ion-col text-center>
                                        <input type="radio" id="neg" [(ngModel)]="addGossip.feedbackType" name="type" value="1">
                                        <label for="neg">
                    <img src="assets/img/hated.png"  alt=""> <div class="type-text">Negative Gossip</div>
                    </label>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-item>


                        <ion-item class="pl8">
                            <ion-label stacked>Gossip as</ion-label>
                            <ion-select  class="w40" interface="popover" name="poastedAs" #poastedAs="ngModel" [(ngModel)]="addGossip.posted_as">
                                <ion-option value="anonymous">Anonymous</ion-option>
                                <ion-option [value]="user.ID">{{user.display_name}}</ion-option>
                                <ion-option [value]="item.id" *ngFor="let item of myEntity">{{item.title}}</ion-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="pl8">
                            <!--<ion-label stacked>Description*</ion-label>-->
                            <textarea class="text-area" rows="6" placeholder="Gossip Content" cols="" [(ngModel)]="addGossip.gossip" name="gossip" #gossip="ngModel"
                                required></textarea>
                            <!--<ion-input type="text" [(ngModel)]="addGossip.gossip" name="gossip" #gossip="ngModel" required></ion-input>-->
                        </ion-item>
                        <ion-item class="pl8 img-preview" *ngIf="addGossip.image">
                            <div>
                                <img [src]="addGossip.image" alt="attachment">
                                <button class="action-btn" (click)="removeImage()" ion-button icon-left clear small>
                                        <ion-icon name="md-close"></ion-icon> 
                                    </button>
                            </div>
                        </ion-item>
                        <ion-item class="pl8">
                            <button class="h35" (click)="selectImage()" ion-button block outline icon-left>
  <ion-icon name="attach"></ion-icon>
 {{ addGossip.image ? 'Change' : 'Attach'}}  image
</button>
                        </ion-item>
                    </ion-list>
                    <div class="submit-btn">
                        <br>
                        <button [disabled]="!(addGossip.feedbackType && addGossip.gossip && addGossip.id)" ion-button (click)="insertGossip(addGossip)"
                            color="primary" type="submit" block>Post</button>
                    </div>

                </ion-card-content>
            </ion-card>

        </form>
    </div>
    <!--<ion-fab bottom right *ngIf="segment == 'entity'">
        <button ion-fab color="primary" (click)="addEntity()">
      <ion-icon name="add"></ion-icon>
   </button>
    </ion-fab>-->
</ion-content>