page-add-entity {
    .category .category-content {
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        height: 115px;
        background-size: cover;
        margin: 0px !important;
    }
    .category ion-card {
        width: 100% !important;
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .card-title {
        position: absolute;
        bottom: 10%;
        width: 100%;
        font-weight: normal;
        color: #fff;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
    }
    .entity-count {
        padding: 8px 8px;
        font-size: 12px;
    }
    .category [col-md-4] {
        padding: 3px !important;
    }
    .request-list ion-card {
        margin: 10px 8px 10px 8px !important;
        width: calc(100% - 16px) !important;
    }
    .request-list .entity-status {
        position: absolute;
        bottom: 5px;
        right: 8px;
        text-transform: uppercase;
        font-size: 11px;
        padding: 2px 5px 0px 5px;
        font-weight: 5006;
    }
    .request-list .disapproved {
        color: red;
        border: 1px dotted red;
    }
    .request-list .pending {
        color: gray;
        border: 1px dotted gray;
    }
    .request-list .approved {
        color: green;
        border: 1px dotted green;
    }
    .request-list .entity-title {
        font-size: 16px;
    }
    .request-list .entity-cat {
        color: gray;
    }
    .request-list img {
        max-height: 90px;
    }
    .profile-wrapper {
        padding: 10px;
        background-image: url('../assets/img/auth-bg2.jpg');
        background-size: cover;
        background-size: cover;
        background-position: 48% 50%;
    }
    .profile-data h1 {
        margin-top: 0px;
        font-size: 20px;
        margin-bottom: 3px;
    }
    .profile-data h4 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 5px !important;
    }
    .profile-wrapper {
        text-align: center;
        height: 50%;
    }
    .profile-img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #dedede !important;
    }
    .item-md.item-block .item-inner:last-child {
        padding-right: 8px;
        border-bottom: 0px !important;
    }
}