 <ion-list class="mt10">
   <span *ngFor="let gossip of gossips; let index = index"> 
      <ion-card class="home-listing">
            <ion-item class="border-top">
                <ion-avatar item-left (click)="entityProfile(gossip.gossip_about.ID)">
                    <img [src]="gossip.gossip_about.img">
                </ion-avatar>
                <h2 (click)="entityProfile(gossip.gossip_about.ID)">{{gossip.gossip_about.entity}}</h2>
                <p (click)="entityProfile(gossip.gossip_about.ID)">{{gossip.category[0].name}}</p>
                <div class="category-icon">
                    <img src="assets/img/hated.png" alt="neg" *ngIf="gossip.feedback_type == 1" class="bookmark-btn">
                    <img src="assets/img/loved.png" alt="pos" *ngIf="gossip.feedback_type == 0" class="bookmark-btn">
                </div>
            </ion-item>
            <ion-card-content>
                <p>
                    {{gossip.content}}
                </p>
                <img *ngIf="gossip.img"  [src]="gossip.img" (click)="displayImage(gossip.img,gossip.title)">
                 <div class="news-display" *ngIf="gossip.news_title">
                       <span class="bold" style="margin-left: 0px">Source - </span> {{gossip.news_title}}
                 </div>
                <p text-right class="gossip-id">Gossip #{{gossip.id}}</p>
            </ion-card-content>
            <ion-grid class="post">
                <ion-row>
                    <ion-col class="p0">
                        <button color="dark"  [class]="gossip.action.up != null ? 'up-voted' : '' "  ion-button clear small (click)="vote(gossip, 'positive', index)"> 
                      <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
                      <span>{{gossip.total_upvotes}}</span> 
                  </button>
                    </ion-col>
                    <ion-col class="p0">
                        <button color="dark"  [class]="gossip.action.down != null ? 'down-voted' : '' " ion-button clear small (click)="vote(gossip, 'negative', index)"> 
                      <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>
                       <span>{{gossip.total_downvotes}} </span>
                  </button>
                    </ion-col>
                    <ion-col class="p0">
                        <button color="dark" ion-button icon-left clear small (click)="openComments(gossip.id)">
                     <ion-icon name="text"></ion-icon>
                     <div>{{gossip.total_comments}}</div>
                  </button>
                    </ion-col>
                    <ion-col class="p0" text-center center>
                        
                        <button *ngIf="userId != gossip.author.ID" [color]="gossip.action.follow != null ? 'primary' : 'dark'" class="action-btn" (click)="followGossip(gossip, index)" ion-button icon-left clear small>
                     <ion-icon name="md-bookmark"></ion-icon> 
                  </button>
                    <button *ngIf="userId == gossip.author.ID" color="danger" class="action-btn" (click)="deleteGossip(gossip, index)" ion-button icon-left clear small>
                     <ion-icon name="md-trash"></ion-icon> 
                  </button>
                    </ion-col>
                    <ion-col class="p0" center text-center>
                        <button color="dark" class="action-btn" (click)="shareVia(gossip)" ion-button icon-left clear small>
                     <ion-icon name="share"></ion-icon> 
                  </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card> 
        </span>
        <div  center text-center class="no-data" *ngIf="!gossips?.length">No gossip found.</div>
    </ion-list>