gossip-card {
 .news-display {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px 7px;
    margin-top: 10px;
    background: #fdfdfd;
    margin-bottom: 4px;
}
.category-icon img {
    width: 40px !important;
}
 .bookmark-btn {
    float: right !important;
    position: absolute !important;
    top: 16px !important;
    right: 8px !important;
    padding: 0px 0px 0px 7px !important;
    font-size: 17px !important;
    border: 0px !important;
    color: gray !important;
    text-align: center !important;
}
}
