<ion-header>
    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment" color="whitec">
            <ion-segment-button value="gossips">
                Gossips
            </ion-segment-button>
            <ion-segment-button value="entity">
                Entities
            </ion-segment-button> 
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <gossip-card *ngIf="segment == 'gossips'" (unFollowEvent)="getFollowedGossips()" [gossips]="followedGossips"></gossip-card>
    <ion-list *ngIf="segment == 'entity'" class="trending-card">
        <ion-row>
            <ion-col col-6 col-md-4 *ngFor="let entity of followedEntities">
                <ion-card>
                    <div>
                        <div class="tending-content" (click)="entityProfile(entity.ID)" [style.background-image]="getBackground(entity.img)">
                            <div class="card-title">{{entity.title}}</div>
                            <div class="card-subtitle">{{entity.category[0].name}}</div>
                        </div>
                    </div>
                    <ion-row>
                        <ion-col class="entity-icon border-right">
                            <button color="dark" ion-button clear small (click)="entityProfile(entity.ID)"> 
                            <img src="assets/img/loved.png" alt=""> {{entity.total_positive_gossips}}
                             </button>
                        </ion-col>
                        <ion-col class="entity-icon">
                            <button color="dark" ion-button clear small (click)="entityProfile(entity.ID)">  
                            <img src="assets/img/hated.png" alt=""> {{entity.total_negative_gossips}}
                             </button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-list>
</ion-content>