<ion-header>
    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment" color="whitec">
            <ion-segment-button value="gossips">
                Gossips
            </ion-segment-button>
            <ion-segment-button value="entity">
                Entities
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <gossip-card *ngIf="segment == 'gossips'" (dataUpdated)="getFollowedGossips()"  (unFollowEvent)="getFollowedGossips()" [gossips]="followedGossips"></gossip-card> 
    <entity-card *ngIf="segment == 'entity'" (dataUpdated)="getFollowedEntities()" (unFollowEvent)="getFollowedEntities()" [entities]="followedEntities"></entity-card>
</ion-content>