<ion-header>
    <ion-toolbar no-border-bottom color="primary">
        <button ion-button icon-only *ngIf="showBack" menuToggle="false" color="white" (click)="dismiss()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
        <!--<ion-buttons end *ngIf="!id">
            <button ion-button item-right outline small class="mark-complete logout-btn" (click)="logOut()"> 
        <span ion-text  class="clear-selection" >Logout</span> 
            </button>
        </ion-buttons>-->
         <ion-buttons end *ngIf="!id">
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-toolbar no-border-top color="primary">
        <div width-profile center text-center class="user-block" color="primary">
            <img [src]="userDetail.img || 'assets/img/user.png'" (click)="displayImage(userDetail.img || 'assets/img/user.png', userDetail.display_name)"
                class="profile-pic" item-left />
        </div>
        <div no-border center text-center class="pl0 no-border-custom" color="primary">
            <h2 class="user-name capitalize">{{userDetail.display_name}}</h2>
        </div>
        <div no-border center text-center class="pl0 mb8" color="primary">
            <button ion-button outline small (click)="follow(userDetail.ID, 'userDetail')" *ngIf="id" color="whitec">{{userDetail.isFollowing ? 'Unfollow' : 'Follow'}}</button>
        </div>

    </ion-toolbar>
    <ion-scroll scrollX="true" style="height: 42px">

        <ion-segment [(ngModel)]="segment" color="whitec">
            <ion-segment-button value="myGossips">
                Gossips ({{myGossips?.length}})
            </ion-segment-button>
            <ion-segment-button value="myEntity" *ngIf="!id">
                Entities ({{myEntity?.length}})
            </ion-segment-button>
            <ion-segment-button value="followers">
                Followers ({{myFollowers?.length}})
            </ion-segment-button>
            <ion-segment-button value="following">
                Following ({{myFollowees?.length}})
            </ion-segment-button>
        </ion-segment>
    </ion-scroll>
    <gossip-card *ngIf="segment == 'myGossips'" (dataUpdated)="getMyGossips()" [gossips]="myGossips"></gossip-card>
    <entity-card *ngIf="segment == 'myEntity' && !id" (dataUpdated)="getMyEntity()" [entities]="myEntity"></entity-card>

    <ion-list class="users-wrapper mt10" *ngIf="segment == 'following'">
        <ion-card *ngFor="let myFollowee of myFollowees">
            <ion-card-content class="p0">
                <ion-row>
                    <ion-col class="p0 sq-col" col-4 (click)="userProfile(myFollowee.ID)"> <img [src]="myFollowee.img" alt="" class="profile-pic"> </ion-col>
                    <ion-col col-8 padding-left class="pl5">
                        <div class="entity-title" (click)="userProfile(myFollowee.ID)">{{myFollowee.display_name}}</div>
                        <div class="entity-status" *ngIf="myFollowee.ID != globalProvider.userId">
                            <button ion-button small outline (click)="follow(myFollowee.ID)">{{myFollowee.isFollowing ? 'Unfollow' : 'Follow'}}</button> 
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <div center text-center class="no-data" *ngIf="!myFollowees?.length">No data found.</div>
    </ion-list>
    <ion-list class="users-wrapper mt10" *ngIf="segment == 'followers'">
        <ion-card *ngFor="let myFollower of myFollowers">
            <ion-card-content class="p0">
                <ion-row>
                    <ion-col class="p0 sq-col" col-4 (click)="userProfile(myFollower.ID)"> <img [src]="myFollower.img" alt="profile" class="profile-pic"> </ion-col>
                    <ion-col col-8 padding-left class="pl5">
                        <div class="entity-title" (click)="userProfile(myFollower.ID)">{{myFollower.display_name}}</div>
                        <div class="entity-status" *ngIf="myFollower.ID != globalProvider.userId">
                            <button ion-button small outline (click)="follow(myFollower.ID)">{{myFollower.isFollowing ? 'Unfollow' : 'Follow'}}</button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <div center text-center class="no-data" *ngIf="!myFollowers?.length">No data found.</div>

    </ion-list>
</ion-content>