<ion-header>
    <ion-toolbar color="primary">
        <ion-segment [(ngModel)]="segment" color="whitec" (ionChange)="tabChange(segment, false)">
            <ion-segment-button value="trending">
                Trending
            </ion-segment-button>
            <ion-segment-button value="topHated">
                Hated
            </ion-segment-button>
            <ion-segment-button value="topRated">
                Rated
            </ion-segment-button>
            <ion-segment-button value="latest">
                Latest
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content (ionScroll)="update()"> 
    <gossip-card *ngIf="segment == 'topHated'" (dataUpdated)="tabChange(segment, true)" [gossips]="hatedGossips"></gossip-card>
    <gossip-card *ngIf="segment == 'topRated'" (dataUpdated)="tabChange(segment, true)" [gossips]="lovedGossips"></gossip-card>
    <gossip-card *ngIf="segment == 'latest'" (dataUpdated)="tabChange(segment, true)" [gossips]="latestGossips"></gossip-card>
    <entity-card *ngIf="segment == 'trending'" (dataUpdated)="tabChange(segment, true)" [entities]="trendingEntities"></entity-card> 
    
    <ion-fab bottom right *ngIf="showSearch" [@myAnimation]>
        <button ion-fab color="primary" (click)="search()">
      <ion-icon name="search"></ion-icon>
   </button>
    </ion-fab>
</ion-content>