page-home {
    .p0 {
        padding: 0 !important;
    }
    ion-card {
        margin: 10px 0px 10px 0px !important;
        width: 100% !important;
    }
    ion-card ion-card-content {
        border-bottom: 1px solid #efefef;
    }
    .bookmark-btn {
        float: right !important;
        position: absolute !important;
        top: 2px !important;
        right: 8px !important;
        padding: 0px 0px 0px 7px !important;
        font-size: 17px !important;
        border: 0px !important;
        color: gray !important;
        text-align: center !important;
    }
    .home-listing ion-item {
        padding-left: 8px !important;
    }
    .home-listing .item-inner {
        padding-right: 8px !important;
    }
    .home-listing ion-card-content {
        padding: 8px !important;
    }
    .home-listing ion-grid {
        padding: 0px 0px !important;
    }
    .home-listing ion-label {
        margin: 8px 8px 8px 0 !important;
    }
    .border-top {
        border-top: 1px solid #efefef;
    }
    .seprator {
        padding: 13px 16px 13px 16px;
    }
    ion-content .scroll-content {
        background: #dedcde;
    }
    .trending-card .tending-content {
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        height: 200px;
        background-size: cover;
        margin: 0px !important;
    }
    .card-title {
        position: absolute;
        bottom: 15%;
        width: 100%;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        bottom: 5%;
        width: 100%;
        color: #fff;
        text-align: left;
        padding-left: 8px;
        font-style: italic;
    }
    .entity-icon img {
        height: 17px !important;
        width: 17px;
        display: inline;
        vertical-align: middle;
        margin-right: 5px !important;
    }
    .entity-icon button {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 30px;
    }
    .entity-icon {
        text-align: center !important;
    }
    .border-right {
        border-right: 1px solid #dedcde;
    }
    .trending-card .tending-content {
        padding: 2px !important;
    }
    .trending-card .row {
        padding: 1px !important;
    }
    .trending-card ion-card {
        margin: 0px 0px 0px 0px !important;
    }
    .trending-card ion-col[col-6] {
        padding: 3px !important;
    }
    .full-width-select {
        max-width: 100%;
        width: 100%;
        background: white;
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .full-width-select .item-cover {
        height: auto !important;
    }
    ion-card:first-child {
        margin-top: 0px !important;
    }
}