<ion-content (ionScroll)="update()">
    <div class="subject-bg ">
        <ion-toolbar color="primary" class="trasparent-header" [style.background]="headerBackground">
            <button ion-button icon-left color="white" (click)="dismiss()">
      <ion-icon name="arrow-back"></ion-icon>
    <ion-title>{{entityDetail.category[0].name}}</ion-title>
    </button>
            <button ion-button icon-only color="whitec" (click)="boomarkEntity(entityDetail.id)" item-right [class]="entityDetail.entityFollow ? 'bookmark-btn1 liked' : 'bookmark-btn1'">
      <ion-icon name="bookmark"></ion-icon>
    </button>

        </ion-toolbar>

        <div class="profile-wrapper">
            <div class="profile-data">
                <h1 color="whitec" ion-text>{{entityDetail.title}}</h1>
                <h4 color="whitec" ion-text class="mt0">{{ entityDetail.subtitle || entityDetail.category[0].name}}</h4>
            </div>
            <img [src]="entityDetail.img || 'assets/img/image.png'" (click)="shared.imageViewer.show(entityDetail.img || 'assets/img/image.png', entityDetail.title)"
                class="profile-img" alt="">
            <div>
                        <ion-row class="custom-row">
                            <ion-col class="pt0">
                                <button ion-button text-right outline color="whitec" (click)="jubToSegment('rated')" class="add-btn"> Top Rated </button>
                            </ion-col>
                            <ion-col  class="pt0">
                                <button ion-button text-right outline color="whitec" (click)="jubToSegment('hated')" class="add-btn">   Top Hated </button>
                            </ion-col>
                        </ion-row>  

                <button ion-button text-right outline color="whitec"  (click)="jubToSegment('news')" class="add-btn"> Word out there! </button>
                <br>
                <button ion-button text-right outline color="whitec" (click)="addGossips()" class="add-btn mt10"> Add Gossip </button>
            </div>
            <div class="drag-section-wrap" padding-left padding-right>
                <div class="drag-section">
                    <div class="slider-wrap" (swipe)="tapEvent($event)">
                        <ion-row>

                            <ion-col text-center (click)="tapEvent(2)">
                                <h5 class="mt0 mb0 white">
                                    {{entityDetail.total_positive_gossips}}
                                </h5>
                                <img src="assets/img/loved.png" alt="">
                            </ion-col>
                            <ion-col text-center class="slide-img-wrap">
                                <button ion-button icon-only class="down-btn mt10" (click)="scroll()">
  <ion-icon name="ios-arrow-down-outline"></ion-icon>
</button>
                            </ion-col>
                            <ion-col (click)="tapEvent(1)" text-center>
                                <h5 class="mt0 mb0 white">
                                    {{entityDetail.total_negative_gossips}}
                                </h5>
                                <img src="assets/img/hated.png" alt="">
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-segment [(ngModel)]="segment" color="whitec" (ionChange)="updateSegment(segment)">
        <ion-segment-button value="news">
            News
        </ion-segment-button>
        <ion-segment-button value="rated">
            Top Rated
        </ion-segment-button>
        <ion-segment-button value="hated">
            Top Hated
        </ion-segment-button>
    </ion-segment>
    <ion-list class="comments">
        <gossip-card [gossips]="entityGossips" *ngIf="segment == 'hated' || segment == 'rated'"></gossip-card>
        <news *ngIf="segment == 'news'" [newsList]="entityNews"></news>
    </ion-list>
</ion-content>
<div class="app-intro" *ngIf="showIntro" (click)="showIntro = false"> 
    <img src="http://tgm-inf.cruxservers.in/app_intro/android/entity.jpg">
    <button ion-button color="primary" class="intro-button">
        OK, Got it! 
    </button>
</div> 