<ion-content>
    <div class="subject-bg ">
        <ion-toolbar color="primary" class="trasparent-header">
            <button ion-button icon-left color="white" (click)="dismiss()">
      <ion-icon name="arrow-back"></ion-icon>
    <ion-title>{{entityDetail.category[0].name}}</ion-title>
    </button>
            <button ion-button icon-only color="whitec" (click)="boomarkEntity(entityDetail.id)" item-right [class]="entityDetail.entityFollow ? 'bookmark-btn1 liked' : 'bookmark-btn1'">
      <ion-icon name="bookmark"></ion-icon>
    </button>

        </ion-toolbar>

        <div class="profile-wrapper">
            <div class="profile-data">
                <h1 color="whitec" ion-text>{{entityDetail.title}}</h1>
                <h4 color="whitec" ion-text class="mt0">{{entityDetail.category[0].name}}</h4>
            </div>
            <img [src]="entityDetail.img || 'assets/img/image.png'" class="profile-img" alt="">
            <div>   
            <button ion-button text-right outline color="whitec" (click)="addGossips()" class="add-btn"> Add Gossip </button>              
            </div>
            <div class="drag-section-wrap" padding-left padding-right> 
                <div class="drag-section">
                    <div class="slider-wrap" (swipe)="tapEvent($event)">
                        <ion-row>

                            <ion-col text-center col-2 (click)="tapEvent(2)">
                                  <h5 class="mt0 mb0 white">
                                {{entityDetail.total_positive_gossips}}
                            </h5>
                                <img src="assets/img/loved.png" alt="">
                            </ion-col>
                            <ion-col text-center col-8 class="slide-img-wrap">
                                <button ion-button icon-only class="down-btn" (click)="scroll()">
  <ion-icon name="ios-arrow-down-outline"></ion-icon>
</button>
                            </ion-col>
                            <ion-col col-2 (click)="tapEvent(1)" text-center>
                                 <h5 class="mt0 mb0 white">
                                 {{entityDetail.total_negative_gossips}}
                            </h5> 
                                <img src="assets/img/hated.png" alt="">
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-segment [(ngModel)]="segment" color="whitec" (ionChange)="updateSegment(segment)">
        <ion-segment-button value="news">
            News
        </ion-segment-button>
        <ion-segment-button value="hated">
            Top Hated
        </ion-segment-button>
        <ion-segment-button value="rated">
            Top Rated
        </ion-segment-button>
    </ion-segment>
    <ion-list class="comments" > 
        <!--<span  *ngFor="let entityGossip of entityGossips; let index = index">
         <ion-card class="home-listing" *ngIf="(segment == 'hated' && entityGossip.feedback_type == 1) || (segment == 'rated' && entityGossip.feedback_type == 0)">
            <ion-item class="border-top">
                <ion-avatar item-left (click)="entityProfile(entityGossip.gossip_about.ID)">
                    <img [src]="entityGossip.gossip_about.img">
                </ion-avatar>
                <h2>{{entityGossip.gossip_about.entity}}</h2>
                <p>{{entityGossip.category[0].name}}</p>
                <div class="category-icon">
                    <img src="assets/img/hated.png" alt="neg" *ngIf="entityGossip.feedback_type == 1" class="bookmark-btn">
                    <img src="assets/img/loved.png" alt="pos" *ngIf="entityGossip.feedback_type == 0" class="bookmark-btn">
                </div>
            </ion-item>
            <ion-card-content>
                <p>
                    {{entityGossip.title}}
                </p>
                <img *ngIf="entityGossip.img" [src]="entityGossip.img" (click)="displayImage(entityGossip.img,entityGossip.title)">
                <p text-right class="gossip-id">Gossip #{{entityGossip.id}}</p>
            </ion-card-content>
            <ion-grid class="post">
                <ion-row>
                    <ion-col class="p0">
                        <button color="dark" [class]="entityGossip.action.up != null ? 'up-voted' : '' "  ion-button clear small (click)="vote(entityGossip, 'positive', index)"> 
                      <ion-icon ios="ios-thumbs-up" md="md-thumbs-up"></ion-icon>
                      <span>{{entityGossip.total_upvotes}}</span> 
                  </button>
                    </ion-col>
                    <ion-col class="p0">
                        <button color="dark" [class]="entityGossip.action.down != null ? 'down-voted' : '' " ion-button clear small (click)="vote(entityGossip, 'negative', index)"> 
                      <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>
                       <span >{{entityGossip.total_downvotes}} </span>
                  </button>
                    </ion-col>
                    <ion-col class="p0">
                        <button color="dark" ion-button icon-left clear small (click)="openComments(entityGossip.id)">
                     <ion-icon name="text"></ion-icon>
                     <div>{{entityGossip.total_comments}}</div>
                  </button>
                    </ion-col>
                    <ion-col class="p0" text-center center>
                        <button [color]="entityGossip.action.follow != null ? 'primary' : 'dark'" class="action-btn" (click)="followGossip(entityGossip, index)" ion-button icon-left clear small>
                     <ion-icon name="md-bookmark"></ion-icon> 
                  </button>
                    </ion-col>
                    <ion-col class="p0" center text-center>
                        <button color="dark" class="action-btn" (click)="shareVia()" ion-button icon-left clear small>
                     <ion-icon name="share"></ion-icon> 
                  </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
</span>-->
<gossip-card [gossips]="entityGossips" *ngIf="segment == 'hated' || segment == 'rated'"></gossip-card> 
 
<span *ngIf="segment == 'news'">
<ion-card *ngFor="let news of entityNews"> 
  <ion-card-content>
    {{news.title}}
  </ion-card-content>
    <ion-col class="p0">
                        <button color="dark" class="add-gossip"   ion-button icon-left clear small (click)="addGossips(news)"> 
                      <ion-icon ios="ios-add" md="md-add"></ion-icon>
                      <span>Gossip about it!</span> 
                  </button>
                    </ion-col>
</ion-card>
</span>
    </ion-list>
</ion-content>