.md {
    page-search {
        .searchbar-input {
            height: 56px !important;
            padding-bottom: 3px !important;
        }
        ion-searchbar,
        ion-toolbar {
            padding: 0px !important;
        }
        .scroll-content {
            background-color: #fff;
        }
        .searchbar-search-icon {
            top: 16px !important;
        }
        .item {
            padding-left: 18px;
        }
        .item-inner {
            margin-left: 7px !important;
        }
        .user-mobile {
            font-size: 13px;
            color: #676767;
        }
        .user-name {
            font-size: 15px;
        }
        .searchbar-md-cancel {
            left: 5px;
            font-size: 18px !important;
            top: 2px;
        }
        ion-spinner.filterSpinner {
            position: absolute;
            top: 14px;
            right: 10px;
        }
        .newsLoader {
            position: absolute !important;            
        }
        .full-width-select {
            max-width: 100%;
            width: 100%;
            // box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        }
        ion-select {
            width: 44% !important;
            max-width: 44% !important;
            margin-left: 28% !important;
        }


         .category .category-content {
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        height: 115px;
        background-size: cover;
        margin: 0px !important;
    }
    .category ion-card {
        width: 100% !important;
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .card-title {
        position: absolute;
        bottom: 10%;
        width: 100%;
        font-weight: normal;
        color: #fff;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
    }
    .entity-count {
        padding: 8px 8px;
        font-size: 12px;
    }
    .category-icon img{
    width: 40px !important;
    top: 15px !important;
    }
    .category [col-md-4] {
        padding: 3px !important;
    }
    ion-select .select-text {
        width: 52px;
        text-align: center;
        font-size: 15px;
    }
    ionc-select {
     width: 44% !important;
    margin-left: calc(66% - 33%);
    }
    }
    .add-button { 
        text-transform:  none !important; 
    }
} 
.ios {
    page-search { 
        .full-width-select {
            max-width: 100%;
            width: 100%;
            // box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        }
        ion-select {
            width: 44% !important;
            max-width: 44% !important;
            margin-left: 28% !important;
        }


         .category .category-content {
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        height: 115px;
        background-size: cover;
        margin: 0px !important;
    }
    .category ion-card {
        width: 100% !important;
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .card-title {
        position: absolute;
        bottom: 10%;
        width: 100%;
        font-weight: normal;
        color: #fff;
        font-size: 16px;
        text-align: left;
        padding-left: 8px;
    }
    .entity-count {
        padding: 8px 8px;
        font-size: 12px;
    }
    .category-icon img{
    width: 40px !important;
    top: 15px !important;
    }
    .category [col-md-4] {
        padding: 3px !important;
    }
    ion-select .select-text {
        width: 52px;
        text-align: center;
        font-size: 15px;
    }
    ionc-select {
     width: 44% !important;
    margin-left: calc(66% - 33%);
    } 
    .add-button { 
        text-transform:  none !important; 
    }
    
    }
}