<ion-header>
    <ion-toolbar color="primary">
        <button ion-button icon-only menuToggle="false" left color="whitec" (click)="dismiss()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
        <ion-title>
            Add Gossip
        </ion-title> 
    </ion-toolbar>
</ion-header>
 
<ion-content>
    <div class="add-gossip">
        <form #gossipForm="ngForm" novalidate>
            <ion-card class="card-items ion-card-full">
                <ion-card-header color="primary">
                    Gossip Information
                </ion-card-header>
                <ion-card-content>
                    <ion-list>
                            <ion-searchbar *ngIf="!addGossip.id" (click)="searchEntity()" placeholder="Search Entities"></ion-searchbar>
  
  <ion-item *ngIf="selectedEntity.id">
    <ion-avatar item-left >
      <img [src]="selectedEntity.img">
    </ion-avatar>
    <h2>{{selectedEntity.title}}</h2>
    <p>{{selectedEntity.category[0].name}}</p>
  </ion-item>
  
  <ion-item style=" margin-left: -17px;">
     <ion-grid>
         <ion-row class="emo-img">
             <ion-col >
                 <input type="radio" id="pos" [(ngModel)]="addGossip.type" name="type" [value]="0">
                <label for="pos"> <img src="assets/img/loved.png"   alt=""> <span class="type-text">Positive Gossip</span></label>
             </ion-col>
             <ion-col >
                 <input type="radio" id="neg" [(ngModel)]="addGossip.type" name="type" [value]="1">                 
                <label for="neg">
                    <img src="assets/img/hated.png"  alt="">
                     <span class="type-text">Negative Gossip</span>
                    </label>                  
             </ion-col>
         </ion-row>
     </ion-grid>
  </ion-item>
 
 
                         <ion-item class="pl8">
                            <ion-label stacked>Gossip as</ion-label>
                            <ion-select name="poastedAs" #poastedAs="ngModel" [(ngModel)]="addGossip.posted_as">
                                <ion-option value="anonymous">Anonymous</ion-option>
                                <ion-option [value]="user.ID">{{user.display_name}}</ion-option>
                                <ion-option [value]="item.id" *ngFor="let item of myEntity">{{item.title}}</ion-option> 
                            </ion-select>
                        </ion-item>
                        <ion-item class="pl8">
                            <!--<ion-label stacked>Description*</ion-label>-->
                            <textarea class="text-area" rows="6" placeholder="Gossip Content" cols="" [(ngModel)]="addGossip.name" name="gossip" #gossip="ngModel" required></textarea>
                            <!--<ion-input type="text" [(ngModel)]="addGossip.name" name="gossip" #gossip="ngModel" required></ion-input>-->
                        </ion-item>
                        <ion-item class="pl8 news-wrap" *ngIf="news">
                            <div class="news-display">
                               <span class="bold">Source - </span> {{news}}
                            </div>
                        </ion-item>
                        
                    </ion-list>
                    <div class="submit-btn">
                        <br>
                        <button [disabled]="!((addGossip.type == 0 || addGossip.type == 1) && addGossip.name && addGossip.id)" ion-button  (click)="insertGossip(addGossip)"color="primary" type="submit" block>Post</button>
                    </div>

                </ion-card-content>
            </ion-card>

        </form>
    </div>
</ion-content>